<div class="row">
<h1 class="headline">Would Ya' Rather</h1>
<button class="links left-link"><%= link_to 'New Question', new_question_path, id: "new_link", remote: true %>
</button>
<% @questions.each  do |question| %>

<% end %>

<div class="col-lg-12" id="questions">
<%= render @questions %>
</div>

</row>
